
// !!!!!!!!!! POUR VOIR LES MODIFS SASS ROULER LA COMMANDE DOS: WATCH-POLL !!!!!!!!!
// npm run watch-poll

body{
    // background-color: #2ed11f;
    font-family: 'Nunito', sans-serif;
}

h1{
    // font-weight: bold;
}

.logo{
    background-image: url('../img/logo_fond.jpg');
    background-size: cover;
}
.background{
    background-color: #B72025;
}
.container_gris{
    background-color: #f5f8fa;
    box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.5);


}
.navbar{
    margin-bottom: 0;
}

.bold{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0;
}
.bold_comment{
    font-weight: bold;
}

.ft-size-2{
    font-size: 1.6em;
}
.vote{
    font-size: 0.8em;
    font-weight: bold;
    color: #adadad;
    background-color: #2e2e2e;
    padding: 0.3em 0.8em;
    border-radius: 3px;

}

.ml-1{
    margin-left: 1em;
}
.mt-5{
    margin-top: 5vh;
}
.mb-2{
    margin-bottom: 4vh;
}
.mr-2{
  margin-right: 2vw;
}
.pd-2{
    padding: 5%;
}

.contour{
    border: 1px solid #2e2e2e;
}

.crop-container {
    width: 100%; /* or whatever is required */
    text-align: center; /* ensures the image is always in the h-middle */
    overflow: hidden; /* hide the cropped portion */
    img {
    position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%; /* magic! */
    }
}

.user_exist{
    margin: 1em;
    color: red;
    font-weight: bold;
    p{
        margin: 0;
    }
}

.full_img{
  width: 100%;
}

.fa-star{
  color: #cdcdcd;
}
.checked, .fa-star-half-o{
    color: #807e7e;
}

.btn-danger{
  background-color: #e81818;
}
.commentaire{
  margin-top: 2vh;
}

.icon{
  width: 75%;
}
.h10{
   height: 10vh !important;
}
tr{
  height: 4vh;
}
.date{
  font-style: italic;
  color: #0d6cba;
}
