// Code provenant du site :
// https://codepen.io/ashleynolan/pen/MyqrPr


$ratingControl-star-size: 25px;
$ratingControl-star-margin: 10px;

$ratingControl-star-width: $ratingControl-star-size + $ratingControl-star-margin; // width takes into account the size and the margin, as this makes the label wider based on these two values
$ratingControl-star-count : 5;

$icon-path: 'https://ashleynolan.co.uk/assets/img/content/';

// SVG datauris used for the stars to avoid loading flash when interacted with

$icon-star: '../img/star.svg';
$icon-star--filled: '../img/starfilled.svg';
$icon-star--light: '../img/starlight.svg';


.ratingControl {
    position: relative;
    width: $ratingControl-star-width * $ratingControl-star-count;
    height: $ratingControl-star-size;
    user-select: none;
    margin: 0 auto;

    input {
        visibility: hidden;
    }
}
    .ratingControl-stars {
        position: absolute;
        top: 0;
        width: $ratingControl-star-width;
        height: $ratingControl-star-size;
        background-image: url($icon-star);
        // uses datauri, but image is actually being pulled from here: '#{$icon-path}/star--empty.svg';
        background-size: auto $ratingControl-star-size;
        background-repeat: no-repeat;
        cursor: pointer;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

        // hover effect applied to the hovered star and all preceeding stars (and if the radio button is checked)
        &:hover,
        .ratingControl-stars:hover ~ &,
        input:checked ~ & {
            background-image: url($icon-star--filled);
            // uses datauri, but image is actually being pulled from here: #{$icon-path}/star--filled.svg
        }

        // displays a slightly different coloured star when someone is actively clicking the item
        &:active,
        .ratingControl-stars:active ~ &,
        input:checked ~ &:active {
            background-image: url($icon-star--light);
              // uses datauri, but image is actually being pulled from here: #{$icon-path}/star--filled--light.svg
        }
    }
        .ratingControl-stars--05 { left: $ratingControl-star-width * 0; }
        .ratingControl-stars--1  { left: $ratingControl-star-width * 0; }
        .ratingControl-stars--15 { left: $ratingControl-star-width * 1; }
        .ratingControl-stars--2  { left: $ratingControl-star-width * 1; }
        .ratingControl-stars--25 { left: $ratingControl-star-width * 2; }
        .ratingControl-stars--3  { left: $ratingControl-star-width * 2; }
        .ratingControl-stars--35 { left: $ratingControl-star-width * 3; }
        .ratingControl-stars--4  { left: $ratingControl-star-width * 3; }
        .ratingControl-stars--45 { left: $ratingControl-star-width * 4; }
        .ratingControl-stars--5  { left: $ratingControl-star-width * 4; }

    .ratingControl-stars--half {
        width: ceil($ratingControl-star-size / 2) + 1;
    }





@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


.ratingControl{
  // width: 80px;
  margin: 0;
}
