body{font-family:'Nunito', sans-serif}.logo{background-image:url("../img/logo_fond.jpg");background-size:cover}.background{background-color:#B72025}.container_gris{background-color:#f5f8fa;-webkit-box-shadow:0px 0px 96px 0px rgba(0,0,0,0.5);box-shadow:0px 0px 96px 0px rgba(0,0,0,0.5)}.navbar{margin-bottom:0}.bold{font-size:1.4em;font-weight:bold;margin-bottom:0}.ft-size-2{font-size:1.6em}.vote{font-size:0.8em;font-weight:bold;color:#adadad;background-color:#2e2e2e;padding:0.3em 0.8em;border-radius:3px}.ml-1{margin-left:1em}.mt-5{margin-top:5vh}

/*# sourceMappingURL=custom.css.map */